body {
    padding: 0;
    margin: 0;
} 

.bg {
    background-color: gray;
    height: 100vh;
    transition: 1s;
}

.circle {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    z-index: 1;
}

div.red {
    top: 20px;
    left: 20px;
    background-color: red;
}

div.green {
    top: 20px;
    right: 20px;
    background-color: green;
}

div.blue {
    bottom: 20px;
    left: 20px;
    background-color: blue;
}

div.orange {
    bottom: 20px;
    right: 20px;
    background-color: orange;
}

.bg p {
    line-height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    opacity: 0;
}

div.red:hover ~ .bg {
background-color: red;
}

div.green:hover ~ .bg {
    background-color: green;
    }

    div.blue:hover ~ .bg {
        background-color: blue;
        }

        div.orange:hover ~ .bg {
            background-color: orange;
            }

            div.red:hover~div.bg p.red,
            div.green:hover~div.bg p.green,
            div.blue:hover~div.bg p.blue,
            div.orange:hover~div.bg p.orange {
                opacity: 1;
            }